<html>
  <head>
    <meta charset="utf-8">
    <title>Créer un potin</title>
  </head>
  <body>
         <a  href="/">Affiche les potins </a>
         <a  href="/gossips/new/">Créer un potin</a>
     
    
    <h1>Crée un potin !</h1>
    <p>Balance ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/new/' method='POST'>
      Saisis ici ton nom :  <input type='text' name='gossip_author'/><br/>
      Balances ton potin : <input type='text' name='gossip_content'/><br/>
      <input class="btn btn-primary" type='submit'/>
    </form>

 

  </body>
</html>